*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width: 500px;
    height: 500px;
    background-color: lightgray;
}
button{
    display: block;
    padding: 15px 30px;
    margin: auto;
}
input{
    display: block;
    padding: 15px 30px;
    margin: 50px auto;
}
.newbox{
    width: 500px;
    height: 500px;
    background-color: black;
    border: 2px dotted gray;
}
